<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>to-do List</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
	<h1 name="task" id="welcome">¿Por donde vas a empezar hoy?</h1>
	<h3 id= "tittleIndex"> <%= todaysDate %></h3>
</div>
<div id="List" style="text-align: center;">
	<button onclick="location.href='/Hogar'" type="button" class="btn btn-success">Hogar</button>
	<button onclick="location.href='/Compras'" type="button" class="btn btn-success">Compras</button>
	<button onclick="location.href='/Trabajo'" type="button" class="btn btn-success">Trabajo</button>
	<button onclick="location.href='/Ocio'" type="button" class="btn btn-success">Ocio</button>
</div>
<% for (var counter=0; counter<addTask.length; counter++) { %>
	<form id= "deleteIndex" action="/deleteIndex" method="post">
		<div style="margin-bottom: 20px;" id="list" class="newList">
			<draggable>
			<transition-group name="slide" mode="out-in">
				<div style="width: 80%; margin: 0 auto;" class="list" :class="{done: item.done}" :key="item">
					<label style="cursor:pointer; width: 100%; text-align: left;">
						<h4 class="numberTask"><%= addTask[counter].nameTask %></h4>
						<h6 class= "categoryTask">Lista de <%= addTask[counter].category %></h6>
					</label>
					<button class="btn_del" name="buttonDelete" value="<%=addTask[counter]._id%>">&times;</button>
					<input type="hidden" name="listDelete" value="<%=addTask[counter].category%>">
				</div>
			</transition-group>
		</draggable>
	</div>
</form>
<% } %>
<% if (addTask.length == 0) { %>
	<div  style="margin-top:40px;">
		<h6 id="nolist"> Ninguna tarea pendiente. Elige una categoría y añade nuevas tareas </h6>
	</div>
	<div>

	</div>
<% } %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
